*{
    padding: 0;
    margin: 0;
}
#weather-forecast{

    display: flex;
    /* flex-direction: column; */
/* align-items:baseline; */
flex-wrap: wrap;

gap: 20px;

}
.weather-card-container img{;
    margin: 10px 50px;
}
